<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>The hetol {{title}}</h1>
<app-rooms></app-rooms>

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">Welcome User</div>
    <div *ngSwitchCase = "'Admin'"></div>
    <div *ngSwitchDefault>You are not authorized</div>
</div> -->

<router-outlet></router-outlet>
