/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

.even{
    background-color: cadetblue;
    color: aliceblue;
}
.odd{
    background-color: brown;
    color: aliceblue;
}